tfx==1.15.0
tensorflow==2.15.0
tensorflow-data-validation==1.15.1
tensorflow-transform==1.15.0
tensorflow-model-analysis==0.46.0
tensorflow-serving-api==2.15.1
tensorflow-hub==0.15.0
tfx-bsl==1.15.1
ml-metadata==1.15.0
ml-pipelines-sdk==1.15.0
tensorflow-metadata==1.15.0
keras==2.15.0
protobuf==4.25.3
apache-beam==2.52.0
pyarrow==10.0.1
pyyaml==6.0.3
scipy==1.12.0
requests
pylint
